<!DOCTYPE html>
<html>

<head>
  <title>PrivyID Indonesia</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>

<body>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row text-center">
        <h1>PrivyID</h1>
      </div>
    </div>
    <div class="panel-body">
      <button id="add-btn" class="btn btn-primary" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus"> PRODUCT </span></button>

      <div id="add-form" class="panel panel-default">
        <div class="panel-body">
          <form method="POST" id="add-form2" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
              <label for="inputProduct" class="col-sm-2 control-label"> Product Name </label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputProduct" name="productName" placeholder="Product Name">
              </div>
            </div>

            <div class="form-group">
              <label for="inputProductDesc" class="col-sm-2 control-label"> Product Description </label>
              <div class="col-md-10">
                <textarea class="form-control" id="inputProductDesc" name="productDesc" placeholder="Product Description"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="booleanProduct" class="col-sm-2 control-label"> Product Enable </label>
              <div class="col-md-10">
                <select class="form-control" id="booleanProduct" name="productEnable">
                  <option>Chosee the boolean...</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="userFile" class="col-sm-2 control-label">Image</label>
              <div class="col-md-10">
                <input type="file" class="form-control" id="userFile" name="doc">
              </div>
            </div>

            <div class="form-group">
              <label for="booleanImage" class="col-sm-2 control-label"> Image Enable </label>
              <div class="col-md-10">
                <select class="form-control" id="booleanImage" name="imageEnable">
                  <option>Chosee the boolean...</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputCategory" class="col-sm-2 control-label">Category Product</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="inputCategory" name="categoryName" value="">
              </div>
            </div>

            <div class="form-group">
              <label for="booleanCategory" class="col-sm-2 control-label"> Category Enable </label>
              <div class="col-md-10">
                <select class="form-control" id="booleanCategory" name="categoryEnable">
                  <option>Chosee the boolean...</option>
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>

          </br>
            <div class="form-group">
              <div class="col-md-3" align="center">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"><b> Save </b></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>No</b></td>
            <td><b>Product Name</b></td>
            <td><b>Description</b></td>
            <td><b>Category</b></td>
            <td><b>Actions</b></td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
  <script>
  let id ="";
  $(document).ready(function(){
    $('#add-form').hide();
    getData();
  })

  $('#add-btn').click(function(e){
    $('#add-form').toggle();
    $( '#add-form2' ).each(function(){
      this.reset();
     });
  })

  $('#add-form2').submit(function(e){
    e.preventDefault();
    var form = $(this);
    var formdata = false;
    if (window.FormData){
       formdata = new FormData(form[0]);
     }
     // console.log('Data : ', 'form')
    // var formAction = form.attr('action');

      $.ajax({
      url         : 'http://localhost:3000/api/product/',
      data        : formdata ? formdata : form.serialize(),
      cache       : false,
      contentType : false,
      processData : false,
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
      getData();
          }
       });
     $( '#add-form2' ).each(function(){
       this.reset();
      });
     $('#add-form').hide();
  });

  // Read
  function getData(){
    $.ajax({
      url: 'http://localhost:3000/api/product/',
      method: "GET"
    }).done( dataProduct =>{
      let data = dataProduct.Data;
      // console.log("Data Product :", data);
      showTable(data);
    })
  }

  function showTable(add){
    let no = 0;
    var trHTML = '';
    add.forEach(data => {
      // let containpe = data.enable;
      // console.log("Data Detail INI:", data);
      no++;
      trHTML += '<tr>';
      trHTML += `<td>${no}</td>`;
      trHTML += `<td>${data.name}</td>`;
      trHTML += `<td>${data.description}</td>`;
      trHTML += `<td>${data.category_name}</td>`;
      trHTML += `<td>`
      trHTML += `<button class="editBtn btn btn-success" containid="${data.id}" containname="${data.name}" containdesc="${data.description}" containpe="${data.enable}" containimage="${data.image_file}" containie="${data.image_enable}" containcp="${data.category_name}" containcpe="${data.category_enable}"><span class="glyphicon glyphicon-pencil"> Edit </span></button>`;
      trHTML += `<button class="deleteBtn btn btn-danger" containid="${data.id}"><span class="glyphicon glyphicon-trash"> Delete </span></button>`;
      trHTML += `</td>`;
      trHTML += `</tr>`;
    })
    $('table tbody').html(trHTML)
  }

  // Delete
  $('table tbody').on('click', '.deleteBtn', function(){
    let confirmData = confirm("Are you sure want to delete this data?");
    if(confirmData){
      $.ajax({
        url: 'http://localhost:3000/api/product/delete/' + $(this).attr('containid'),
        method: 'DELETE'
      }).done(data => {
        getData();
      })
    }
  })

  </script>
</body>
</html>
